services:
  bitcoin-wallet:
    image: btc-wallet
    container_name: bitcoin-wallet
    ports:
      - 8080:8080
    depends_on:
      - postgres-database
    env_file:
      - ./.env

  postgres-database:
    image: postgres
    container_name: postgres-database
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres-db
